<script src="/vendors/js/vendor.bundle.base.js"></script>
<script src="/vendors/js/vendor.bundle.addons.js"></script>
<script src="/vendors/js/off-canvas.js"></script>
<script src="/vendors/js/misc.js"></script>
<script src="/vendors/js/dashboard.js"></script>
</body>
</html>