
<% include partials/header %>

<div class="column is-5 is-offset-4">
    <figure class="image is-3by2">
        <img src="http://sishyaschool.edu.in/images/404.png" alt="logo" />
        <!-- <img src="media/404.png" alt="logo" /> -->
    </figure>
</div>
<div class="column is-5 is-offset-4 has-text-centered">  
    <a class="button is-medium is-info" href="/">
        Back to Home
    </a>
</div>



<% include partials/footer %>