<% include partials/header %>
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns is-vcentered">
        <div class="column is-5 is-offset-1">
          <figure class="image is-4by3">
            <img src="/media/source.gif" alt="Description"><!-- https://i.pinimg.com/originals/ac/06/69/ac0669ca63398818b6361b124fb86737.gif -->
          </figure>
        </div>
        <div class="column is-6 ">
          <img src="/media/icons/icon-96x96.png">
          <h1 class="title is-2">
            SCSOSS, DU
          </h1>
          <h2 class="subtitle is-4">
              Sri Chaitanya Shiksha O Sangskriti Sangha, University of Dhaka
          </h2>
          <br>
          <p class="has-text-centered">
            <a class="button is-medium is-info is-outlined">
              Learn more
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- <audio src="media/kirtan.mp3" autoplay>
      <p>Your browser does not support the audio element.</p>
      <embed src="media/kirtan.mp3" width="180" height="90" hidden="true" />
  </audio> -->

<% include partials/footer %>
