<% include partials/header %>

<div class="container">
        <div id="main">
                <section class="hero is-info welcome is-small">
                        <div class="hero-body">
                            <div class="container">
                                <span class="title"><span style="cursor:pointer" onclick="openNav()">&#9776;</span> Meals</span>
                            </div>
                        </div>
                    </section>
                
<div class="card events-card">
   <div class="card-table">
   <div class="content">
    <table class="table is-striped is-hoverable is-responsive">
            <tbody>
            <tr class="text-has-centered">
                <td>No.</td>
                <td>Name</td>
                <td>Meal</td>
                <td>Date</td>
            </tr>
        
    <% for(let v in devotee){ %>
        <tr>
            <form class="mealForm" method="POST" action="/meal">
                <td ><%= parseInt(v)+1 %></td>
                <td ><%= devotee[v].name %></td>
                <td ><div class="field"><div class="control"><input class="input" type="text" name="meal" id="meal" required></div></div></td>
                <td ><div class="field"><div class="control"><input class="input default-date" type="date" name="date"></div></div></td> 
                    <input type="text" name="id" value="<%= devotee[v]._id %>" style="display:none;">
                <td ><div class="field"><div class="control"><input class="button is-small is-rounded" type="submit" value="Submit"></div></div></td>
            </form>
        </tr>
    <% } %>
        </tbody>
    </table>
    </div></div>
    <footer class="card-footer">
        <div class="card-footer-item">
            <div class="field is-grouped is-grouped-centered">
                <div class="control">
                    <button class="button is-success" id="mealSubmit">
                        <span class="icon is-small">
                            <i class="fa fa-check"></i>
                        </span>
                        <span>Save</span>
                    </button>
                </div>
                <div class="control">
                    <button class="button is-danger is-outlined" id="mealReset">
                        <span>Reset</span>
                        <span class="icon is-small">
                            <i class="fa fa-times"></i>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </footer>
</div>

    </div>
</div> <!-- end of container div -->

<% include partials/footer %>