<% include partials/header %>
<h1 class="title"><%= dat %></h1>
<h2 class="subtitle"><%= dat2 %></h2>

<form action="/report" method="get">
<div class="field">
  <label class="label">Name1</label>
  <p class="control">
    <input class="input" type="date" name="date1">
  </p>
</div>

<div class="field">
    <label class="label">Name2</label>
    <p class="control">
      <input class="input" type="date" name="date2">
    </p>
  </div>

<div class="field is-grouped">
  <p class="control">
    <button type="submit" class="button is-primary">Submit</button>
  </p>
  <p class="control">
    <button class="button is-link">Cancel</button>
  </p>
</div>
</form>

<% include partials/footer %>