<% include partials/header %>
<div class="container load">
    <div class="column is-12" id="main">
    
        <section class="hero is-info welcome is-small">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title"><span style="cursor:pointer" onclick="openNav()">&#9776;</span> Settings </h1>
                </div>
            </div>
        </section>



    </div>
</div>
<% include partials/footer %>